[submodule "site-lisp/extensions/iedit"]
	path = site-lisp/extensions/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "site-lisp/extensions/dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/extensions/multiple-cursors"]
	path = site-lisp/extensions/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/extensions/posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/extensions/which-key"]
	path = site-lisp/extensions/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/extensions/yasnippet"]
	path = site-lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/extensions/markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/extensions/json-mode"]
	path = site-lisp/extensions/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "site-lisp/extensions/json-snatcher"]
	path = site-lisp/extensions/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher.git
[submodule "site-lisp/extensions/go-mode"]
	path = site-lisp/extensions/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "site-lisp/extensions/neo-tree"]
	path = site-lisp/extensions/neo-tree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "site-lisp/extensions/swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/extensions/avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/extensions/ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/extensions/lua-mode"]
	path = site-lisp/extensions/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "site-lisp/extensions/web-mode"]
	path = site-lisp/extensions/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/extensions/js2-mode"]
	path = site-lisp/extensions/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/extensions/rime"]
	path = site-lisp/extensions/rime
	url = https://github.com/DogLooksGood/emacs-rime.git
